<div class="row">
  <div class="col-xs-12">
    <img src="" alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>Product Name</h1>
    <img src="" alt="" class="img-responsive float-end">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p>Product Description</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p>product price</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p>Toppings</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-primary">add to cart</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle">manage Product <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#">Edit Product</a></li>
        <li><a href="#">Delete Product</a></li>
      </ul>
    </div>
  </div>
</div>
