<div class="card space shadow-sm">
  <div class="card-body">
    <h4 class="card-title">{{ product?.name}}</h4>
    <img [src]="imagePath" alt="{{ product?.name }}" class="img-responsive float-end card-img">
    <div class="card-text">
      <p>{{product?.description}}</p>
      <p>$ {{ price.toFixed(2)}}</p>
      <mat-form-field appearance="fill">
        <mat-label>Choose Size:</mat-label>
          <mat-select
            (selectionChange) = "onSizeChange($event.value)">
            <mat-option *ngFor="let size of product?.size" [value]="size">{{ size }}</mat-option>
          </mat-select>
      </mat-form-field>
      <p [innerHTML]="product?.imageDescription"></p>
      <button
      [attr.data-item-id]="product?.id"
      [attr.data-item-name]="product?.name"
      [attr.data-item-description]="product?.description"
      [attr.data-item-price]="price"
      [attr.data-item-image]="imagePath"
      class="btn btn-primary snipcart-add-item">Add to Cart</button>
    </div>
  </div>
</div>
